
{%load static %}
{% static 'images' as baseurl %}
{%if message %}
<script>
    alert('{{message}}');
</script>
{% endif %}


 <!-- Font Icon -->
 <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

 <!-- Main css -->
 <link rel="stylesheet" href="{% static 'css/style1.css' %}">
  
<!-- Sing in  Form -->
<div class="main">
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="{{baseurl}}/signin-image.jpg" alt="sing up image"></figure>
                <a href="{% url 'signup'%}" class="signup-image-link">Create an account</a>
                <a href="{% url 'voicesignin'%}" class="signup-image-link">Sigin with voice</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign in</h2>
                <form method="POST" action="{% url 'signin'%}" class="register-form" id="login-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" name="email" id="email" placeholder="Your Email"/>
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="your_pass" id="your_pass" placeholder="Password"/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" onclick="" id="signin" class="form-submit" value="Log in"/>
                    </div>
                    <div> 
                        {% for message in messages %}
                          <h3 style="text-align: center;"> {{message}} </h3> 
                            {% endfor %}
                    </div>
                </form>
                <div class="social-login">
                    <span class="social-label">Or login with</span>
                    <ul class="socials">
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
<script src="{% static 'js/main.js' %}"></script>

